body, html
{
    width: 100%;
    background-color:  #222;
    font-size: 12px;
    font-family: "Trebuchet MS";
margin:0;
}

#title
{
    display:block;
	padding-top:70px;
	text-shadow: 4px 8px #222222;
	width:100%;
	height:150px;
    border-top:2px outset #ddd ;
	border-bottom:2px outset #ddd;
	text-align:center;
	font-size:33px;
	/*background:linear-gradient(rgba(30,30,30,0.7),rgba(30,30,30,0.7));*/
    background-image: url("img/ehhhhhhhhh.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    filter: opacity(50%);
    background-position:0 80%;
	color:#eeeeee;
	margin-top:0%;
}
#title .background{
    filter:contrast(0.3);
}

#menu
{
	width:100%;
	height:60px;
	background-color: #222;
	font-size:18px;
	color:#eee;
	text-shadow:2px 2px 5px #222;
	
}

.menu_kafelek
{
	
    width:200px;
	float:left;
	height:42px;
	padding-top:18px;
	text-align:center;
	font-family:Trebuchet MS;
	color: #ddd;
	border-right:1px solid #333;
	border-left:1px solid #333;
}
.menu_kafelek:hover
{
	background-color:#dddddd;
	color:#222;
	cursor:pointer;
    
}